@import "tailwindcss/preflight";
@import "tailwindcss/theme";
@import "tailwindcss/utilities";

html,
body {
  height: 100%;
  background-color: #072d6b;
  color: white;
}

 

.no-scrollbar::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.no-scrollbar {
  scrollbar-width: none;
}

